= f.input :type, :as => :hidden, :input_html => { :value => type }
.form-group
  = f.input :first_name,
    placeholder: t('.placeholder.first_name'),
    label: t('.label.first_name')
.form-group
  = f.input :last_name,
    placeholder: t('.placeholder.last_name'),
    label: t('.label.last_name')
.form-group
  = f.input :address,
    placeholder: t('.placeholder.address'),
    label: t('.label.address_label')
.form-group
  = f.input :city,
    placeholder: t('.placeholder.city'),
    label: t('.label.city')
.form-group
  = f.input :zip,
    placeholder: t('.placeholder.zip'),
    label: t('.label.zip')
.form-group
  = f.input :country,
    collection: ['London', 'London', 'London'],
    placeholder: t('.placeholder.country'),
    label: t('.label.country')
.form-group.mb-60
  = f.input :phone,
    placeholder: t('.placeholder.phone'),
    label: t('.label.phone')
