%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('.sign_up')
    = link_to user_facebook_omniauth_authorize_path, class: "general-login-icon", method: :post do
      %i.fa-brands.fa-square-facebook.fa-2xl
    %p.general-login-text= t('.or')
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "general-form"}) do |f|
    .form-group.mb-30
      = f.input :email,
        placeholder: t(".placeholder.email"),
        input_html: { class: "form-control" },
        label: t(".label.email"),
        label_html: { class: 'control-label input-label' },
        error_html: { class: 'has-error' }
    .form-group.mb-30
      = f.input :password,
        autocomplete: "off",
        placeholder: t(".placeholder.password"),
        input_html: { class: "form-control" },
        label: t(".label.password"),
        label_html: { class: 'control-label input-label' },
        error_html: { class: 'has-error' }
    .form-group.mb-30
      = f.input :password_confirmation,
        autocomplete: "off",
        placeholder: t(".placeholder.password_confirmation"),
        input_html: { class: "form-control" },
        label: t(".label.password_confirmation"),
        label_html: { class: 'control-label input-label' }
    .actions.text-center
      = f.button :submit, t('.sign_up'), class: "button btn btn-default mb-20"
  %p.general-sign-text.text-center
    = t('.have_account')
    = link_to t(".log_in"), new_user_session_path, class: "in-gold-500"
