%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    = link_to books_path(category: 'All'), class: 'filter-link' do
      All
      %span.badge.general-badge= books_count
  -categories.each do |category|
    %li.mr-35
      = link_to books_path(category: category), class: 'filter-link' do
        = category.name
        %span.badge.general-badge= category.books.count
