%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    = link_to books_path(category_id: BooksQuery::DEFAULT_CATEGORY_ID), class: 'filter-link' do
      = t('.all')
      %span.badge.general-badge= books_count
  -categories.each do |category|
    %li.mr-35
      = link_to books_path(category_id: category.id), class: 'filter-link' do
        = category.name
        %span.badge.general-badge= category.books.count
