= simple_form_for(:user, url: user_session_path, html: { class: 'general-form' }) do |f|
  .mb-40
    %p.mb-15 Log in with password
    .form-group.mb-30
      = f.input :email, label: 'Enter email', label_html: { class: 'control-label input-label' }, input_html: { id: 'email', class: 'form-control' }, type: 'email', placeholder: 'Enter email'
    .form-group.mb-30
      = f.input :password, label: 'Password', label_html: { class: 'control-label input-label' }, input_html: { id: 'password', class: 'form-control' }, type: 'password', placeholder: 'Password'
      = link_to 'Forgot password?', new_user_password_path, class: 'help-block in-gold-500'
  = f.button :submit, 'Log in with password', class: 'btn mb-20'
