%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('.title')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "general-form" }) do |f|
    = f.hidden_field :reset_password_token
    .form-group.mb-30
      = f.input :password,
        placeholder: t('.placeholder.password'),
        input_html: { class: "form-control" },
        label: t('.label.password'),
        label_html: { class: "control-label input-label" }
    .form-group.mb-40
      = f.input :confirm_password,
        placeholder: t('.placeholder.password_confirmation'),
        input_html: { class: "form-control" },
        label: t('.label.password_confirmation'),
        label_html: { class: "control-label input-label" }
    .actions
      = f.button :submit, t('.submit_button'), class: "btn btn-default center-block mb-20"
