%main.container.general-main-wrap
  .text-center
    %h1.mb-30= t('.forgot')
    %p.general-password-text= t('.email_instructions')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "general-form" }) do |f|
    .form-group.mb-25
      = f.input :email, placeholder: t('.email_placeholder'),
        input_html: { class: 'form-control' },
        label_html: { class: 'control-label input-label' }
    .actions
      = f.button :submit, t('.submit_button'), class: "btn btn-default center-block mb-20"
    .text-center
      %a.in-gold-500.mb-20{href: root_path}= t('.cancel')
