.row
  .col-sm-5
    .general-img-wrap
      = image_tag(book.cover_image.url, class: 'img-shadow general-thumbnail-img')
  .col-sm-7
    .mb-60
      %h1= book.title
      %p.lead= book.description
      %p.lead.small= book.authors_names
      .general-align
        %button.disabled.btn= t('.buy_now_button')
