%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
      %li{'data-target': "#slider", 'data-slide-to': "2"}
    .carousel-inner{role: "listbox"}
      - @latest_books.each_with_index do |book, index|
        - if index == 0
          .item.active
            = render 'home/latest_books_item', book: book
        - else
          .item
            = render 'home/latest_books_item', book: book
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only= t('.previous')
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only= t('.next')
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('.welcome')
    .mb-res-50
      %p= t('.bestsellers_desc')
    %button.btn.btn-default= t('.get_started')
  .mb-35
    %h3= t('.bestsellers')
    .row
      - @books.first(4).each do |book|
        = render 'home/book', book: book
