%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    = render partial: 'books/partials/desktop/sort', locals: { current_sort_type: @current_sort_type }
    = render partial: 'books/partials/desktop/categories', locals: { books_count: @books_count, categories: @categories }
  .dropdowns.mb-25.visible-xs
    = render partial: 'books/partials/mobile/categories', locals: { books_count: @books_count, categories: @categories }
    = render partial: 'books/partials/mobile/sort', locals: { current_sort_type: @current_sort_type }
  .mb-120
    .row
      #books
        = render @books
    #paginator.text-center
      = link_to 'View More', books_path(page: (@books.object.current_page ? @books.object.current_page + 1 : 1)), remote: true, id: 'view_more', class: "btn btn-primary" 
