%main.container
  %a.general-back-link{href: url_for(:back)}
    %i.fa.fa-long-arrow-left.mr-15
    = t('.back_to_results')
  .row
    .col-sm-6
      = render partial: 'books/partials/images_collection', locals: { book: @book }
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.authors_names
      = render partial: 'books/partials/add_to_cart_form', locals: { book: @book }
      = render partial: 'books/partials/book_info', locals: { book: @book }
  .mb-80
    = render partial: 'books/partials/reviews', locals: { reviews: @reviews, max_rating: ReviewForm::MAX_RATING, reviews_count: @reviews_count }
  - if current_user
    .mb-80
      = render partial: 'books/partials/reviews_form', locals: { book: @book, rating_range: ReviewForm::RATING_RANGE }
  - else 
    %h3.in-gold-500.mb-25= t('.message_review_for_not_authorized')
    = link_to t('devise.default.log_in'), new_user_session_path
