%main.container.general-main-wrap
  %h1.general-title-margin= t('.title')
  .visible-xs
    - @line_items.each do |line_item|
      = render partial: 'carts/partials/mobile/line_item', locals: { line_item: line_item, book: line_item.book }
  .hidden-xs
    %table.table.table-hover
      = render partial: 'carts/partials/desktop/head_table'
      - @line_items.each do |line_item|
        = render partial: 'carts/partials/desktop/line_item', locals: { line_item: line_item, book: line_item.book }
  .general-order-wrap
    = render partial: 'carts/partials/price_section', locals: { cart: @cart }
    %button.btn.btn-default.mb-20.visible-xs-inline-block= t('.checkout_button')
  = button_to t('.checkout_button'), order_path, method: :post, class: 'btn btn-default mb-20 hidden-xs center-block'
