.col-sm-3
  %h3.general-subtitle= t('.title')
  %p.general-address
    = address.full_name
    %span.general-edit= t('.edit_link')
    %br
    = address.object.address
    %br
    = address.city_zip
    %br
    = address.country
    %br
    = address.phone
