.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600= t('.book')
        %th.col-method
        %th
          %span.in-grey-600= t('.price')
        %th
          %span.in-grey-600= t('.quantity')
        %th
          %span.in-grey-600= t('.total')
    %tbody
      - order_items.each do |order_item|
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
          %td
            %p.title= order_item.title
            %p.in-grey-600.fw-300= order_item.description
          %td
            %span.font-16.in-gold-500= number_to_currency(order_item.price)
          %td
            %span.ml-30= order_item.quantity
          %td
            %span.font-16.in-gold-500= number_to_currency(order_item.subtotal_price)
