.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25= t('.title')
  .general-form-md.divider-lg-bottom.pb-25
    = simple_form_for password, as: :user, url: update_user_password_path, method: :put do |f|
      .form-group.mb-30
        = f.input :current_password, 
          label: t('.label.current_password'), 
          input_html: { id:'oldPassword', class: 'form-control' }, 
          label_html: { class: 'control-label input-label' }, 
          placeholder: t('.placeholder.current_password'), 
          type: 'password'
      .form-group.mb-30
        = f.input :password, 
          label: t('.label.password'), 
          input_html: { id: 'password', class: 'form-control' }, 
          label_html: { class: 'control-label input-label' }, 
          placeholder: t('.placeholder.password'),
          type: 'password'
      .form-group.mb-40
        = f.input :password_confirmation, 
          label: t('.label.password_confirmation'), 
          input_html: { id:'confirmPassword', class: 'form-control' }, 
          label_html: { class: 'control-label input-label'}, 
          placeholder: t('.placeholder.password_confirmation'), 
          type: 'password'
      .general-text-align
        = f.button :submit, t('.submit_button'), class: 'btn btn-default mb-35'
