.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25 Password
  .general-form-md.divider-lg-bottom.pb-25
    = simple_form_for password, as: :user, url: update_user_password_path, method: :put do |f|
      .form-group.mb-30
        = f.input :current_password, 
          label: 'Old password', 
          input_html: { id:'oldPassword', class: 'form-control' }, 
          label_html: { class: 'control-label input-label' }, 
          placeholder: 'Old password', 
          type: 'password'
      .form-group.mb-30
        = f.input :password, 
          label: 'New password', 
          input_html: { id: 'password', class: 'form-control' }, 
          label_html: { class: 'control-label input-label' }, 
          placeholder: 'New password', type: 'password'
      .form-group.mb-40
        = f.input :password_confirmation, 
          label: 'Confirm password', 
          input_html: { id:'confirmPassword', class: 'form-control' }, 
          label_html: { class: 'control-label input-label'}, 
          placeholder: 'Confirm password', 
          type: 'password'
      .general-text-align
        = f.button :submit, 'Save', class: 'btn btn-default mb-35'
