%h3= t('.write_a_review_title')
%p.general-info-text= t('.score')
= simple_form_for Review.new, as: :review, url: book_review_path(book.id) , method: :post, html: { class: 'row' } do |f|
  = f.hidden_field :rating, value: 0, input_html: { id: 'review_rating' }
  = f.hidden_field :book_id, value: book.id
  .col-md-8
    .mb-15
    #rating
      -rating_range.each do |index|
        %i.fa.fa-star.rate-empty{ data: { value: index } }
    .mb-40
      .form-group
        = f.input :title, label: t('.form_title'), label_html: { class: 'control-label input-label grey-600' }, input_html: { id: 'title', class: 'form-control' }, type: 'text'
        = f.input :content, as: :text, label: t('.form_review'), label_html: { class: 'control-label input-label grey-600' }, input_html: { id: 'content', class: 'form-control' }, type: 'text'
    .text-right
      = f.button :submit, t('.submit_button'), class: 'btn mb-20'
