!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width,initial-scale=1'}
    %title= t('.app_name')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/header', locals: { categories: @categories_all }
    %p.notice= notice
    %p.alert= alert
    = yield
    = render partial: 'layouts/footer'
